<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logMonitor" type="LogMonitor.Configuration.LogMonitorConfiguration, LogMonitor"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <logMonitor>
    <watch>
      <add path="H:\Csharp\github\LogMonitor\test" type="w3c" maxDaysInactive="2" />
    </watch>
    <parser>
      <add scriptPath=".\Scripts\CallCountProcessor.ps1" pattern="\.log$" />
      <add scriptPath=".\Scripts\TimeTakenProcessor.ps1" pattern="\.log$" />
      <add scriptPath=".\Scripts\HttpStatusProcessor.ps1" pattern="\.log$" />
    </parser>
    <output>
      <add pathPattern="\.log$" type="." target="console" metricsPrefix="pref" />
    </output>
  </logMonitor>
</configuration>