<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="w3cReaders" type="LogMonitor.Configuration.W3CReadersConfiguration, LogMonitor"/>
    <section name="output" type="LogMonitor.Configuration.OutputConfiguration, LogMonitor"/>
  </configSections>
  <w3cReaders xmlns="http://github.com/peschuster/LogMonitor/Configuration">
    <counters>
      <clear />
      <add name="onlineStatusCode" key="wponline.hits.status.${type}00">
        <constraint type="fileName" pattern="^\s*(?&lt;type&gt;\d)\d\d\s*$" />
        <constraint type="field" target="sc-status" pattern="" />
      </add>
      <add name="coStatusCode" key="wpco.hits.status.${type}00" fileMatch="" keyPatternTarget="sc-status" keyPattern="^\s*(?&lt;type&gt;\d)\d\d\s*$" />
      <add name="coService" key="wpco.hits.service.${type}" fileMatch="" keyPatternTarget="cs-uri-stem" keyPattern="^\s*\/(?&lt;type&gt;.+)\/service.svc\s*$" />
    </counters>
    <timings>
      <clear />
      <add name="coService" key="wpco.timings.service.${type}" fileMatch="" target="time-taken" pattern="\d+" keyPatternTarget="cs-uri-stem" keyPattern="^\s*\/(?&lt;type&gt;.+)\/service.svc\s*$" />
    </timings>
  </w3cReaders>
  <output xmlns="http://github.com/peschuster/LogMonitor/Configuration">
    <graphite address="127.0.0.1" port="2003" transport="Tcp" />
    <statsd address="127.0.0.1" port="8125" />
  </output>
</configuration>